
        body {
            font-family: Arial, sans-serif;
            background-image: url(studafpic.jpg);
        }

        .container {
            width: 80%;
            margin: 0 auto;
            padding: 20px;
            color: white;
        }

        .form-group {
            margin-bottom: 15px;
        }

        label {
            display: block;
            font-weight: bold;
        }

        input[type="text"],
        textarea {
            width: 100%;
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 5px;
        }

        textarea {
            height: 150px;
        }

        button {
            background-color: #007BFF;
            color: #fff;
            border: none;
            padding: 10px 20px;
            border-radius: 5px;
            cursor: pointer;
        }

        .resume {
            display: none;
        }
    